@import "styles/";

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 54px;
  max-height: 54px;
  color: $color-white;
  background-image: $background-gradient;

  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20px;
    gap: 20px;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      white-space: nowrap;
      gap: 10px;
    }
  }
  &-list {
    display: flex;
    align-items: center;
  }

  &-link {
    padding: 15px 20px;
    width: 100%;
    cursor: pointer;
    transition: $transition;

    &__active {
      color: $color-text-active-light;
    }

    &:hover {
      background-color: $color-text-active-light;
      color: $color-white;
    }

    &-icon {
      display: none;
    }
  }

  &-right {
    display: flex;
    position: absolute;
    right: 20px;
    gap: 15px;
  }
}

@include xl {
  .menu {
    &-link {
      font-size: 16px;
      padding: 15px 10px;
    }
  }
}

@include lg {
  .menu {
    &-link {
      font-size: 16px;
      padding: 15px 10px;
    }

    &-left {
      gap: 10px;
      &-icon__desc {
        display: none;
      }
    }
  }
}

@include lg {
  .menu {
    &-link {
      font-size: 16px;
      padding: 15px 10px;
    }

    &-left {
      gap: 10px;
      &-icon__desc {
        display: none;
      }
    }
  }
}

@include md {
  .menu {
    &-list {
      justify-content: center;
      width: 100%;
      bottom: 8px;
      left: 0;

      position: fixed;
      height: 43px;
    }

    &-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px 10px;
      background-color: $color-link;
      font-size: 14px;
      &__active {
        background-color: $color-primary;
        color: $color-white;
      }

      &-icon {
        display: flex;
        margin-bottom: 5px;
      }
    }
  }
  .theme-dark {
    .menu {
      &-link {
        background-color: $color-link-dark;
        &__active {
          background-color: $color-link-active-dark;
        }
      }
    }
  }
}
