@import "styles/";

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  background-color: $color-menu-bg-light;

  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20px;
    gap: 20px;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      white-space: nowrap;
      gap: 10px;
    }
  }
  &-list {
    display: flex;
    align-items: center;
  }

  &-link {
    padding: 18px 20px;
    width: 100%;
    cursor: pointer;
    transition: all $transition;

    &__active {
      color: $color-text-active-light;
    }

    &:hover {
      background-color: $color-text-active-light;
      color: $color-text-dark;
    }
  }

  &-right {
    display: flex;
    position: absolute;
    right: 20px;
    gap: 15px;
  }
}
