.SliderSimple {
  &-Item {
    width: 100%;
    position: relative;

    & > div {
      width: 100%;
    }
  }

  &-Image {
    cursor: pointer;

    &__tablet {
      max-width: 250px !important;
      max-height: 250px !important;
    }

    &__mobile {
      max-width: 150px !important;
      max-height: 150px !important;
    }
  }
}
