@import "styles/";

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: max-content;
  outline: transparent;
  cursor: pointer;

  background-color: $color-primary;

  padding: 6px 32px;
  border: 1px solid $color-primary;
  border-radius: $border-radius;

  transition: $transition;
  box-shadow: $box-shadow;

  &:hover {
    background-color: $color-primary-hover;
  }

  &:active,
  &:focus {
    transform: translateY(2px);
    background-color: $color-primary-hover;
  }

  &_disabled {
    cursor: default;
    color: $color-disabled;
    background-color: $color-disabled-secondary;
    border-color: $color-disabled-secondary;

    &:hover {
      color: $color-disabled;
      background-color: $color-disabled-secondary;
      border-color: $color-disabled-secondary;
    }
    &:active {
      transform: none;
    }
  }

  .textWithIcon {
    margin-left: 10px;
  }
}
