@import "styles";

.FormPage {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;

  &-Inner {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 470px;
    width: 100%;
  }

  &-Content {
    padding: 24px;
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 1px 20px rgba(4, 6, 28, 0.1);
  }

  &-Title {
    margin-bottom: 25px;
    text-align: center;
  }

  &-FormFieldGroup {
    position: relative;
    margin-bottom: 50px;
  }

  &-Control {
    display: flex;
    justify-content: center;
  }
}
