@import "styles";

.FormPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &-Inner {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 470px;
    width: 100%;
  }

  &-Content {
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 1px 20px rgba(4, 6, 28, 0.1);
    padding: 5px;
  }

  &-Title {
    margin-bottom: 20px;
    text-align: center;
  }

  &-FormFieldGroup {
    position: relative;
    margin-bottom: 30px;
  }

  &-Control {
    display: flex;
    justify-content: center;
  }
}

@include md {
  .FormPage {
    &-Content {
      padding: 0;
      border-radius: none;
      box-shadow: none;
    }
    &-FormFieldGroup {
      margin-bottom: 10px;
    }
    &-Title {
      margin: 5px auto;
    }
  }
}
