$base-font-family: "Roboto", sans-serif;

.text {
  font-family: $base-font-family;
  font-style: normal;
  line-height: 1.25;

  &-h1 {
    font-size: 32px;
  }
  &-h2 {
    font-size: 28px;
  }
  &-h3 {
    font-size: 26px;
  }
  &-h4 {
    font-size: 24px;
  }
  &-h5 {
    font-size: 22px;
  }
  &-h6 {
    font-size: 20px;
  }
  &-b2 {
    font-size: 12px;
  }
  &-b3 {
    font-size: 14px;
  }
  &-b4 {
    font-size: 16px;
  }

  &-bold {
    font-weight: 700;
  }

  &-medium {
    font-weight: 500;
  }

  &-regular {
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .text {
    &-h1 {
      font-size: 22px;
    }

    &-h2 {
      font-size: 20px;
    }

    &-h3 {
      font-size: 18px;
    }

    &-h4 {
      font-size: 18px;
    }

    &-h5 {
      font-size: 16px;
    }

    &-h6 {
      font-size: 16px;
    }
  }
}
