@import "styles";

.Select {
  width: 100%;

  &-IconDropdownIndicator {
    transition: $transition;

    svg {
      fill: $color-black;
    }
  }

  &-IconDropdownIndicator__open {
    transform: rotate(180deg);
  }

  &-IconDropdownIndicatorSearch {
    align-self: start;
  }

  &-IconDropdownIndicatorSearch__open {
    display: none;
  }
}

.theme-dark {
  .Select {
    &-IconDropdownIndicator {
      svg {
        fill: $color-white;
      }
    }
  }
}
