@import "styles";

.menuUi {
  width: 100%;
  height: 100%;
  max-width: 260px;
  border-right: 1px solid rgb(228, 228, 228);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  margin-top: 53px;

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &-link {
    position: relative;
    margin: 8px auto;
    padding: 0;
    width: 100%;
    cursor: pointer;
    transition: all $transition;

    &:after {
      content: "";
      width: 0;
      transition: width 0.1s linear;
    }

    &__active {
      color: $color-primary;
    }

    &:hover::after {
      content: "";

      position: absolute;
      left: 0%;

      display: block;

      width: 100%;
      height: 2px;
      margin-top: 5px;

      background-color: black;
    }
  }
}

@include lg {
  .menuUi {
    max-width: 200px;
    &-link {
      font-size: 16px;
    }
  }
}

@include md {
  .menuUi {
    max-width: 110px;
    margin-top: 18px;
    &-list {
      padding-right: 5px;
    }
    &-link {
      margin: 6px auto;
      font-size: 14px;
    }
  }
}

@include sm {
  .menuUi {
    &-link {
      font-size: 13px;
    }
  }
}
