.SelectPage {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  gap: 20px;
  &__Select {
    max-width: 300px;
    width: 100%;

    //svg {
    //  fill: #000;
    //  transition: all 0.15s;
    //}
    //
    //&__active {
    //  svg {
    //    transform: rotate(180deg);
    //  }
    //}
  }
  &__value {
    display: flex;
  }
}

.theme-dark {
  .Sorting {
    &__Select {
      svg {
        fill: #fff;
      }
    }
  }
}
