.AutocompletePage {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  gap: 20px;

  &__value {
    display: flex;
  }

  &-Select {
    max-width: 220px;
    width: 100%;
  }
}

.theme-dark {
  .Sorting {
    &-Select {
      svg {
        fill: #fff;
      }
    }
  }
}
