.DocumentViewerPage {
  display: flex;
  flex-direction: column;

  iframe {
    margin-bottom: 25px;
  }

  &-DocumentViewer {
    margin-top: 25px;
  }

  &__modal {
    max-width: 1200px;
    height: 90vh;
    overflow: hidden;

    & .Modal {
      height: 90vh;
    }
  }
}
