html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-size: 18px;
}

.App {
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: transparent;
}

.theme-dark {
  background-color: #1a202c;
  color: #fff;
}

.theme-dark .text-dark {
  color: #fff;
}

.theme-dark .icon-dark {
  color: #fff;
  fill: #fff;
}
